a {
    color: #656896;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.navbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.nav-btn {
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    border: 2px solid #7f82bc;
    border-radius: 20px;
    background-color: transparent;
    color: #7f82bc;
    cursor: pointer;
    text-align: center;
}
.nav-btn:hover, .social-btn:hover {
    background-color: #656896;
    color: white;
}
.content {
    text-align: center;
    max-width: 80%;
    padding: 15px 0;
}
.main-image {
    max-width: 30%;
    max-height: 30%;
    margin-bottom: 20px;
    border-radius: 50%;
}
hr {
    width: 80%;
    margin: 20px 0;
}
.footer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.image-content{
    flex-basis: 30%;
    text-align: center;
}
.text-content {
    flex: 1;
    text-align: left;
    line-height: 10px;
}

/* Responsive Design for the Navbar */
@media screen and (max-width: 768px) {
    .nav-btn {
        padding: 5px 10px;
        font-size: 0.8rem;
    }
    .navbar, .footer {
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .nav-btn {
        padding: 3px 5px;
        font-size: 0.8rem;
    }
    .navbar, .footer {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    .image-content {
        order: 1;
    }
    .text-content {
        order: 2;
    }
}