body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.navbar, .footer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.nav-btn, .social-btn {
    font-family: 'Raleway', sans-serif;
    padding: 10px 0px;
    border: 2px solid #7f82bc;
    border-radius: 20px;
    background-color: transparent;
    color: #7f82bc;
    cursor: pointer;
}
.nav-btn:hover, .social-btn:hover {
    background-color: #656896;
    color: white;
}
.content {
    text-align: center;
    max-width: 80%;
    padding: 15px 0;
}
.main-image {
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 20px;
    border-radius: 50%;
}
hr {
    width: 80%;
    margin: 20px 0;
}
.footer {
    margin-top: auto;
    padding: 20px;
}